// Import all the mixins for this theme
@import "addons.scss";
@import "dashboard";

.dashboard {
    // Output the actual theme selectors
    @include addons;
    @include dashboard;
}

/*.dashboard .v-tabsheet-icons-on-top  > .v-tabsheet-tabcontainer .v-caption {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 1.8;
}    
.dashboard .v-tabsheet-tabcontainer {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0.7%;
}*/

//Table
.v-table-header td{
    font-family: tahoma;
    font-size: 16px;
    font-weight: bold;
    background-color: #18908c;
    //background-color: #4C91CA;
    height: 35px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: white;
    text-align: center;

}

.v-table-cell-content{
    font-family: tahoma;
    font-size: 15px;
    height: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    text-align: left;
    padding-left: 2px;
}
/*.v-table-header {
    font-weight: bold;
    //color: #58595D;
    color: #8c8c8c;
    font-family: arial, sans-serif;
    font-size: 13px;

}
.v-table-header-cell {
    alignment-adjust: central;
    font-family: tahoma;
    font-size: 13px;
    font-weight: normal;
    background-color: #fff;
    //background-color: #4C91CA;
    height: 25px;
    border-bottom: 1px solid #ccc;

    background-image: url("img/btn-bg.png");
}

.v-table-row-drag-bottom td.v-table-cell-content {
    border-bottom: 2px solid #197de1;
    height: 25px;
}
.v-table-caption-container, .v-table-header-drag {
    padding: 12px 12px 11px;
    border-left: 1px solid #d4d4d4;
    //background-color: #4C91CA;
    //color:white;
    background-color: #FAFAFA;
    color: #8c8c8c;

    background-image: url("img/btn-bg.png");
    alignment-adjust: central;
    min-height: 25px;
    font-family: roboto medium;
    font-size: 13px;
    font-weight: bold;
}
//Cot STT
.v-table-sort-indicator {
    background-color: #4C91CA;
    background-image: url("img/btn-bg.png");
    alignment-adjust: central;
}
//Dau dong header
.v-table-header-cell-rowheader {
    alignment-adjust: center;
    background-color: #4C91CA;
    background-image: url("img/btn-bg.png");
    font-family: tahoma;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
}
.v-table-compact .v-table-caption-container, .v-table-compact .v-table-header-drag, .v-table-small .v-table-caption-container, .v-table-small .v-table-header-drag {
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
}
//order cot
.v-table-header-cell-asc {
    background-color: #fff;
    //background-color: #4C91CA;
    background-image: url("img/btn-bg.png");
    alignment-adjust: central;
    font-family: tahoma;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}
.v-table-header-cell-desc {
    background-color: #fff;
    //background-color: #4C91CA;
    background-image: url("img/btn-bg.png");
    alignment-adjust: central;
    font-family: tahoma;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}

.v-selected .v-table-cell-content {
    color: #000000;
    background-color: #D9E3E8;
    border: none;
}*/


/**tree */
.v-tree {
	position: relative;
	white-space: nowrap;
}

.v-tree:focus {
	outline: none;
}

.v-tree-node:before {
	content: "";
	position: absolute;
	display: inline-block;
	z-index: 3;
	width: 1.9em;
	height: 32px;
	cursor: pointer;
	background: red;
	opacity: 0;
}

.v-ie8 .v-tree-node:before {
	position: static;
	margin-left: -1.9em;
	vertical-align: top;
	content: "\f0da";
	font-family: ThemeIcons;
	text-align: center;
	background: transparent;
}

.v-ie8 .v-tree-node {
	padding-left: 1.9em;
}

.v-tree-node-caption {
	height: 32px;
	line-height: 31px;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top;
}

.v-tree-node-caption > div {
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 2;
}

.v-tree-node-caption > div:before {
	content: "\f0da";
	font-family: ThemeIcons;
	display: inline-block;
	width: 0.5em;
	text-align: center;
	margin: 0 0.6em 0 0.8em;
	-webkit-transition: all 100ms;
	-moz-transition: all 100ms;
	transition: all 100ms;
}

.v-ie8 .v-tree-node-caption > div:before {
	display: none;
}

.v-tree-node-caption span {
	padding-right: 32px;
	cursor: pointer;
	display: inline-block;
	width: 100%;
}

.v-ie .v-tree-node-caption span {
	width: auto;
}

.v-tree-node-caption .v-icon {
	padding-right: 0;
	width: auto;
	min-width: 1em;
}

.v-tree-node-caption:after {
	content: "";
	display: block;
	vertical-align: top;
	position: absolute;
	z-index: 1;
	left: 0;
	margin-top: -32px;
	width: 100%;
	height: 32px;
	border-radius: 4px;
	opacity: 0;
	-webkit-transition: opacity 120ms;
	-moz-transition: opacity 120ms;
	transition: opacity 120ms;
}

.v-ie8 .v-tree-node-caption:after {
	content: none;
}

.v-ie8 .v-tree-node-caption {
	display: inline-block;
}

.v-tree-node-expanded > .v-tree-node-caption > div:before {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	content: "\f0da";
	font-family: ThemeIcons;
}

.v-ie8 .v-tree-node-expanded:before {
	content: "\f0d7";
	font-family: ThemeIcons;
}

.v-tree-node-leaf:before, .v-tree-node-leaf > .v-tree-node-caption > div:before {
	visibility: hidden;
}

.v-tree-node-focused:after {
	opacity: 1;
	border: 1px solid #fff;
}

.v-ie8 .v-tree-node-focused {
	outline: 1px dotted #fff;
}

/*.v-tree-node-selected {
	color: #1a1a1a;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}

.v-tree-node-selected:after {f
	opacity: 1;
	background: #fff;
	border: none;
}*/
.v-tree-node-selected {
    color: #ecf2f8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.v-tree-node-selected:after {
	opacity: 1;
	background-color: #197de1;
	background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
	background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
	border: none;
}

.v-ie8 .v-tree-node-selected {
	background: #fff;
}

.v-tree-node-children {
	padding-left: 21px;
}

.v-ie8 .v-tree-node-children {
	padding-left: 0;
}

.v-tree-node-drag-top:before, .v-tree-node-drag-bottom:after, .v-tree-node-drag-bottom.v-tree-node-dragfolder.v-tree-node-expanded > .v-tree-node-children:before {
	content: "\2022";
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	font-size: 36px;
	line-height: 2px;
	color: #fff;
	text-indent: -5px;
	text-shadow: 0 0 1px #1a61b7, 0 0 1px #1a61b7;
	opacity: 1;
	visibility: visible;
}

.v-tree-node-drag-bottom.v-tree-node-dragfolder.v-tree-node-expanded:after {
	content: none;
}

.v-tree-node-caption-drag-center {
	-webkit-box-shadow: 0 0 0 2px #fff;
	box-shadow: 0 0 0 2px #fff;
	position: relative;
	border-radius: 4px;
}

.v-ie8 .v-tree-node-caption-drag-center {
	outline: 2px solid #fff;
}

.v-ff .v-tree-node-drag-top:before, .v-ff .v-tree-node-drag-bottom:after {
	line-height: 1px;
}

.v-ie8 .v-tree-node-drag-top:before, .v-ie8 .v-tree-node-drag-bottom:after {
	line-height: 0;
}
